{% extends parent_template|default:"nutr/base_nutr.html" %}

{% block title %}
{{ block.super }} - Link News Article to  POC
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
      <form
          action="{{ poc.get_newslink_create_url }}"
          method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{{ poc.get_absolute_url }}" class="button button-primary"> Cancel</a>
        <button
            class="button-primary"
            type="submit">
          Link Article</button>
      </form>
    </div>
  </div>
{% endblock %}
