{% extends parent_template|default:"nutr/base_nutr.html" %}

{% block title %}
{{ block.super }} - Prisoners of Conscience
{% endblock %}


{% block create_button %}
    <a
        href="{% url 'nutr_poc_create' %}"
        class="button button-primary">
      Create New Prisoner of Conscience</a>
{% endblock %}


{% block nut_content %}
  <h2>Prisoners of Conscience</h2>
    <div class="mobile">
      <a
          href="{% url 'nutr_poc_create' %}"
          class="button button-primary">
        Create New Prisoner of Conscience</a>
    </div>

  <table>
    {% for n in poc_list %}
      <tr>
          <td><a href="{{ n.get_absolute_url }}"> {{ n.pk }} {{ n.name }} ({{ n.tag }}) </a></td>
          <td><a href="{{ n.get_update_url }}"> Edit</a></td>
          <td><a href="{{ n.get_delete_url }}"> Delete </a></td>
      </tr>
    {% empty %}
      <em>There are currently no Prisoners of Conscience available.</em>
    {% endfor %}
  </table>

{% endblock %}
