{% extends parent_template|default:"nutr/base_nutr.html" %}

{% block title %}
{{ block.super }} - Delete POC
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
      <form
          action="{{ poc.get_delete_url }}"
          method="post">
        {% csrf_token %}
        <p>
          Are you sure you want to delete
          poc {{ poc.name }}?
        </p>
        <a
            href="{{ poc.get_absolute_url }}"
            class="button button-primary">
          Cancel</a>
        <button type="submit">Delete POC</button>
      </form>
    </div>
  </div>
{% endblock %}
