{% extends parent_template|default:"nutr/base_nutr.html" %}
{% load staticfiles %}
{% load static %}


{% block title %}
{{ block.super }} - {{ poc.name }}
{% endblock %}

{% block content %}
<article>

  <h2>{{ poc.name }} (<a href="{{ poc.tag.get_absolute_url }}"> {{ poc.tag }}</a>)</h2>
  <!--<a href="{{ poc.tag.get_absolute_url }}"> {{ poc.tag }}</a></-->
        <br><a href="{{ poc.get_update_url }}"> Edit</a>
        <br><a href="{{ poc.get_delete_url }}"> Delete</a>
  <br>
  {{ poc.description|linebreaks }}

  <br>

  <br>
  <!--a href=""> {{ poc.pk }} </a-->
  {{ poc.pk }} 
  <br>
  <a href="{{ poc.link }}"> {{ poc.link }} </a>
  <br>
  <!--img src="{% static poc.image.name %}"  height="300"-->
  <img src="{% static jpg_url %}"  height="300">


      {% if poc.tag_set.all %}
          <section>
            <h3>Country</h3>
            <ul>
              {% for tag in poc.tag_set.all %}
                <li>
                  <a href="">
                    {{ tag.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </section>
      {% endif %}


      {% if poc.blog_posts.all  %}
        <section class="meta offset-by-two one-third column">
      {% else %}
        <section class="meta offset-by-two two-thirds column">
      {% endif %}
          <h3>Recent News</h3>
            <p> <a href="{{ poc.get_newslink_create_url }}" class="button button-primary"> Add Article</a></p>
          <ul>
            {% for newslink in poc.newslink_set.all %}
              <li>
                <a href="{{ newslink.link }}">
                  {{ newslink.title|title }}</a>
                  <!--
                  <ul class="inline">
                      <li> <a href="{{ newslink.get_update_url }}" class="button"> Edit Link</a></li>
                      <li> <a href="{{ newslink.get_delete_url }}" class="button"> Delete Link</a></li>
                  </ul>
                  -->
              </li>
            {% endfor %}
          </ul>
        </section>


      {# if poc.blog_posts.all #}
          <section>
            <h3>Blog Post{{ poc.blog_posts.all|pluralize }}</h3>
            <a href="{% url 'blog_post_create' %}" class="button button-primary"> Write New Blog Post</a>
            <ul>
              {% for post in poc.blog_posts.all %}
                <li>
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|title }}</a>
                </li>
              {% endfor %}
            </ul>
          </section>
      {# endif #}


</article>
{% endblock %}
