<html>
<body>
{% extends parent_template|default:"nutr/base_nutr.html" %}

{% block title %}
{{ block.super }} - {{ poc.name }}
{% endblock %}

{% block content %}
<article>
  <div class="row">
  <div class="offset-by-two eight columns">
  <h2>{{ poc.name }}</h2>
    <ul class="inline">
        <li>
          <a
              href="{{ poc.get_update_url }}"
              class="button">
            Edit POC</a></li>
        <li>
          <a
              href="{{ poc.get_delete_url }}"
              class="button">
            Delete POC</a></li>
    </ul>
  <dl>
    <dt>Country</dt>
      <dd>{{ poc.image }}</dd>
    <dt>Image</dt>
        <img alt="some text" src="{{ poc }}" width=75, height=140/>
        <img alt="some text" src="{{ MEDIA_URL }}{{ poc.image.url }}" width=75, height=140/>
        <img alt="some text" src="/Users/michaelsweeney/epa7658577/nutr/templates/nutr/images/sorting-icons.gif" width=75, height=140/>
        <img alt="some text" src="sorting-icons.gif" width=75, height=140/>
        <img alt="some text" src="http://127.0.0.1:8000/images/sorting-icons.gif" width=75, height=140/>

      <dt>Tag{{ poc.tags.count|pluralize }}</dt>
        {% for tag in poc.tags.all %}
          <dd><a href="{{ tag.get_absolute_url }}">
            {{ tag.name|title }}
          </a></dd>
        {% endfor %}

  </dl>

  {{ poc.description|linebreaks }}
  </div></div> <!-- row -->

  {% if poc.newslink_set.all or poc.blog_posts.all %}
    <div class="row">

      {% if poc.newslink_set.all %}
        {% if poc.blog_posts.all  %}
          <section class="meta offset-by-two one-third column">
        {% else %}
          <section class="meta offset-by-two two-thirds column">
        {% endif %}
            <h3>Recent News</h3>
              <p>
                <a
                    href="{{ poc.get_newslink_create_url }}"
                    class="button">
                  Add Article</a></p>
            <ul>
              {% for newslink in poc.newslink_set.all %}
                <li>
                  <a href="{{ newslink.link }}">
                    {{ newslink.title|title }}</a>
                    <ul class="inline">
                        <li>
                          <a
                              href="{{ newslink.get_update_url }}"
                              class="button">
                            Edit Link</a></li>
                        <li>
                          <a
                              href="{{ newslink.get_delete_url }}"
                              class="button">
                            Delete Link</a></li>
                    </ul>
                </li>
              {% endfor %}
            </ul>
          </section>
      {% endif %}

      {% if poc.blog_posts.all %}
        {% if poc.newslink_set.all %}
          <section class="meta one-third column">
        {% else %}
          <section class="meta offset-by-two two-thirds column">
        {% endif %}
            <h3>Blog Post{{ poc.blog_posts.all|pluralize }}</h3>
            <ul>
              {% for post in poc.blog_posts.all %}
                <li>
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|title }}</a>
                </li>
              {% endfor %}
            </ul>
          </section>
      {% endif %}

    </div> <!-- row -->
  {% endif %}

</article>
{% endblock %}
</body>
</html>
