{% extends parent_template|default:"nutr/base_nutr.html" %}

{% block title %}
{{ block.super }} - {{ tag.name|title }}
{% endblock %}

{% block content %}
  <h2>{{ tag.name|title }}</h2>
    <!--
    <ul>
        <li> <a href="{{ tag.get_update_url }}"> Edit</a></li>
        <li> <a href="{{ tag.get_delete_url }}"> Delete</a></li>

    </ul>
    -->
  {% if tag.poc_set.all %}
    <section>
      <p>
        {{ tag.name }} is associated with
        {{ tag.poc_set.count }}
        Possible Political Prisoner(s).
      </p>
      <ul>
        {% for poc in tag.poc_set.all %}
          <li>{{ poc.pk }}<a href="{{ poc.get_absolute_url }}"> {{ poc.name }} </a> {{ poc.description|truncatechars:100 }}</li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
      {% if tag.blog_posts.all %}
        <section>
          <h3>Blog Post{{ tag.blog_posts.count|pluralize }}</h3>
          <ul>
            {% for post in tag.blog_posts.all %}
              <li><a href="{{ post.get_absolute_url }}">
                {{ post.title|title }}
              </a></li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
      {% if not tag.poc_set.all and not tag.blog_posts.all %}
        <p>This country has no known political prisoners.</p>
      {% endif %}
{% endblock %}
