{% extends parent_template|default:"nutr/base_nutr.html" %}

{% block title %}
{{ block.super }} - Countries
{% endblock %}

{% block create_button %}
{% endblock %}

{% block nut_content %}
  <h2>Countries</h2>
    <div>
      <a href="{% url 'nutr_tag_create' %}">
        Create New Country</a>
    </div>
  <table class="align-right-2nd-column">
    {% for tag in tag_list %}
      <tr>
        <td><a href="{{ tag.get_absolute_url }}"> {{ tag.name }}</a></td>
          {% if tag.poc_set.all %}
            <td> <div style="text-align:right"> {{ tag.poc_set.count }} </div> </td>
            <td> prisoners</td>
          {% else %}
            <td></td><td></td>
          {% endif %}
        <div id="addEventForm">
        </div>
      </tr>
    {% empty %}
      <li><em>There are currently no countries available.</em></li>
    {% endfor %}
  </table>
{% endblock %}

{% block content_footer %}
{% endblock %}
        <!--
        <td><a href="{{ tag.get_update_url }}"> Edit</a></td>
        <td><a href="{{ tag.get_delete_url }}"> Delete</a></td>
        -->
        <!--
        <td align='right'> {{ tag.poc_set.count }}</td>
        -->
