{% extends parent_template|default:"nutr/base_nutr.html" %}
{% load i18n %}

{% block title %}
{{ block.super }} - {% trans "Countries" %}
{% endblock %}

{% block create_button %}
      <!--<a href="{% url 'nutr_tag_create' %}" class="button button-primary"> Create New Country</a>-->
{% endblock %}

{% block nut_content %}
  <h3>{% trans "Countries" %}</h3>
  <table class="align-right-2nd-column">
    {% for tag in tag_list %}
      <tr>
        <td><a href="{{ tag.get_absolute_url }}"> {% trans tag.name %}</a></td>
          {% if tag.poc_set.all %}
            <td> <div style="text-align:right"> {{ tag.poc_set.count }} </div> </td>
            {% if tag.poc_set.count > 1 %}
              <td> prisoners</td>
            {% else %}
              <td> prisoner</td>
            {% endif %}
          {% else %}
            <td></td><td></td>
          {% endif %}
        <div id="addEventForm">
        </div>
      </tr>
    {% empty %}
      <li><em>There are currently no countries available.</em></li>
    {% endfor %}
  </table>
{% endblock %}

{% block content_footer %}
{% endblock %}
        <!--
        <td><a href="{{ tag.get_update_url }}"> Edit</a></td>
        <td><a href="{{ tag.get_delete_url }}"> Delete</a></td>
        -->
        <!--
        <td align='right'> {{ tag.poc_set.count }}</td>
        -->
