  <div class="row"> <div class="offset-by-two five columns">
      {% include "user/login_form.html" %}
    </div>
    <div class="three columns">
      <ul class="task-list">
        <li><a href="{% url 'dj-auth:create' %}"> Register New Account</a></li>
        <li><a href="{% url 'dj-auth:pw_reset_start' %}"> Forgotten password?</a></li>
        <li><a href="{% url 'dj-auth:resend_activation' %}"> Lost Activation E-Mail?</a></li>
        <li><a href="{% url 'dj-auth:create' %}">Login with GitHub (same as Register for now)</a></li>
        <li><a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a></li>
      </ul>
    </div>
  </div>
