{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
    <link rel="stylesheet" type="text/css"
      href="{% static 'site/normalize.css' %}">
    <link rel="stylesheet" type="text/css"
      href="{% static 'site/skeleton.css' %}">
    <link rel="stylesheet" type="text/css"
      href="{% static 'site/style.css' %}">
    {% block head %}{% endblock %}
  </head>

  <body style="background-color:yellow;">

    <div class="container">
      <div class="status row">
        <div class="offset-by-eight four columns">
          <ul class="inline">
            {% if user.is_authenticated %}
              <li><a href="{% url 'dj-auth:logout' %}?next={{ request.path }}">
                Log Out</a></li>
            {% else %}
              <li><a href="{% url 'dj-auth:login' %}?next={{ request.path }}">
                Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <header class="row">
        <!--
        <div class="offset-by-one ten columns">
          <h2 class="logo"></h2>
        </div>
        -->
        <img
            src="{% static "site/logo2.png" %}"
            alt="Site Logo">
          <h2>Prisoners of Conscience</h2>
      </header>
      <nav>
        <ul>
          <li>
            <a href="{% url 'blog_post_list' %}">
              Blog</a></li>
          <li>
            <a href="{% url 'nutr_poc_list' %}"> 
              Prisoners of Conscience</a></li>
          <li>
            <a href="{% url 'nutr_tag_list' %}">
              Countries</a></li>
        </ul>
      </nav>
      {% if messages %}
        <div class="row">
          <div class="twelve columns">
            <ul class="messages">
              {% for message in messages %}
                {% if message.tags %}
                  <li class="{{ message.tags }}">
                {% else %}
                  <li>
                {% endif %}
                {{ message }}</li>
              {% endfor %}
        </ul></div></div>
      {% endif %}
      <main>
        {% block content %}
          This is default content!
        {% endblock %}
      </main>
    </div><!-- container -->

  </body>

</html>
